{% extends "base.html" %}

{% block content %}
<ul>


<h2 align="center" >Password generator</h2>
<div style="margin-left: 3%">
<form action="" method="post" enctype="multipart/form-data" novalidate>
    <p>
   Include Symbols: {{form.count_of_symbol.label}} <br>
    {{form.count_of_symbol(size = 30)}}
</p>
    <p>
    Include Lowercase And Uppercase Characters:{{form.up_and_lw()}} <br>
</p>
    <p>
    Include Numbers:{{form.digit()}} <br>
</p>
    <p>
    Exclude Ambiguous Characters: {{form.special_symbol()}} <br>
</p>
    <p>{{form.generate()}}<p>
</form>
    </div>

    <p>
    {%if password%}
        password: {{password}} <br>
        password strong: {{password_entropy}} <br>
    {%endif%}
    </p>
</ul>
{% endblock %}